<!DOCTYPE html>
<html>
<head>
  <title><% if content_for :title %><%= yield :title %> | <% end %>Woodsey Reference - UCLA UniCamp</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= yield %>

  <%= javascript_include_tag 'application' %>
</body>
</html>
